body{
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    padding: 50px 0px;
}

div{
    width: 250px;
    height: 250px;
}

@keyframes mover {

    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);

        
    }
    100%{
        transform: translateY(0px);

    }

}

img{
    margin: 0 auto;
    padding: 0 auto;
    max-width: 250px;
}

.perro {
  animation: mover 0.4s ease-in-out infinite;
  margin-top: -3em;
}

.trampolin{
    margin-top: -9em;
}
